body{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

input[type="text"],input[type="password"],input[type="email"],textarea[type="text"]{
    @apply w-full border my-2 py-2 px-3 rounded-lg;
}
input[type="number"],input[type="time"]{
    @apply max-w-lg border my-2 py-2 px-3 rounded-lg;
}
button{
    @apply bg-gray-300;
}
button.primary{
    @apply bg-primary p-2 w-60 text-white rounded-xl;
}
textarea{
    @apply h-52;
}

/* Tooltip.css */

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  opacity: 0.9;
}
